<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="notification is-danger mb-0">
        <%= msg %>
      </div>
    <% end %>

    <header class="hero is-link is-medium">
        <div class="hero-head">
          <div class="container columns">
            <div class="container m-4 ml-6 pl-6 column is-three-fifths">
              <h1 class="title">Odin Air</h1>
            </div>
            <div class="container column is-one-fifth"></div>
            <div class="container m-5 column is-one-fifth">
              <p class="subtitle">The Best Way to Travel</p>
            </div>
          </div>
        </div>
    </header>
    
    <%= yield %>
  </body>
</html>
